<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
	http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.0.xsd">

	<!-- 配置包扫描器，扫描@Service注解的类 -->
	<context:component-scan base-package="com.elegant.service" />

	<!-- 配置job类 -->
	<bean id="scheduler1" class="com.elegant.scheduler.Scheduler1"></bean>
	<!-- 配置JobDetail -->
	<bean id="springQtzJobMethod"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="scheduler1" />
		</property>
		<property name="targetMethod"><!-- 要执行的方法的名称 -->
			<value>execute</value>
		</property>
	</bean>
	<!-- 配置trigger -->
	<bean id="cronTriggerFactoryBean"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="springQtzJobMethod"></property>
		<property name="cronExpression" value="0/5 * * * * ?"></property><!-- 每隔5秒执行一次 -->
	</bean>
	<!-- 配置调度工厂 -->
	<bean id="SpringJobSchedulerFactoryBean"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTriggerFactoryBean" />
				<!-- <ref bean="cronTriggerFactoryBean2" /> -->
			</list>
		</property>
	</bean>
</beans>